<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Страница добавления машины </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <h1>добавления</h1>
    <form action="/avto" method="post">
        <input type="text" name="brant" placeholder="Введите бренд">
        <input type="text" name="models" placeholder="Введите модель">
        <input type="text" name="id_users" placeholder="Введите пользователя">
        <button type="submit">добавления</button>
    </form>
</div>
</body>