<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Главная страница </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div>
    <a class="p-2 text-dark" href="/users">добавления пользователя</a> <br>
    <a class="p-2 text-dark" href="/avto">добавления машины</a> <br>
    <a class="p-2 text-dark" href="/sto">добавления сто</a> <br>
    <a class="p-2 text-dark" href="/jobs">добавления работы</a> <br>
    <a class="p-2 text-dark" href="/service">добавления сервиса</a> <br>
    <a class="p-2 text-dark" href="/usersservice">добавления пользователя сервиса</a> <br>
    <a class="p-2 text-dark" href="/history">просмотр журнала</a> <br>
</div>

</body>

</html>