<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Главная страница </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div>
  <a class="p-2 text-dark" href="/users">добавления пользователя</a> <br>
    <a class="p-2 text-dark" href="/avto">добавления машины</a> <br>
    <a class="p-2 text-dark" href="/jobs">добавить услугу</a> <br>
    <a class="p-2 text-dark" href="/avto">просмотреть журнал</a> <br>
<!--    <a class="p-2 text-dark" href="/jobs">добавления работы</a>-->
<!--    <a class="p-2 text-dark" href="/sto">добавления сто</a>-->
<!--    <a class="p-2 text-dark" href="/service">добавления сервиса</a>-->
<!--    <a class="p-2 text-dark" href="/usersservice">добавления пользователя сервиса</a>-->
</div>


</body>

</html>