<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Страница добавления работы </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <h1>добавления</h1>
    <form action="/jobs" method="post">
        <input type="text" name="type_of_work" placeholder="Выберете тип работы">
<!--        <input type="text" name="price" placeholder="Введите цену">-->
        <button type="submit">добавления</button>
    </form>
</div>
</body>