<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Страница добавления сервиса </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <h1>добавления сервиса</h1>
    <form action="/service" method="post">
        <input type="text" name="id_jobs" placeholder="Введите номер работs">
        <input type="text" name="id_sto" placeholder="Введите номер сто">
        <input type="text" name="service_price" placeholder="Введите цену">
        <button type="submit">добавления</button> <br>
        <a class="p-2 text-dark" href="/">на главную</a>
    </form>
</div>
</body>