<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Страница добавления пользователя </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <h1>добавления пользователя</h1>
    <form action="/users" method="post">
        <input type="text" name="name" placeholder="Введите имя">
        <input type="text" name="surname" placeholder="Введите фамилию">
        <input type="text" name="username" placeholder="Введите логин">
        <input type="text" name="password" placeholder="Введите пароль">
        <input type="text" name="roles" placeholder="Введите роль пользователя">
        <button type="submit">добавления</button> <br>
        <a class="p-2 text-dark" href="/">на главную</a>
    </form>
</div>
</body>

</html>