<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Страница добавления пользователь сервиса </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <h1>добавления</h1>
    <form action="/userservice" method="post">
        <input type="text" name="id_users" placeholder="Введите пользвоателя">
        <input type="text" name="id_service" placeholder="Введите сервис">
        <input type="text" name="work_employee" placeholder="Введите работу">
        <button type="submit">добавления</button>
    </form>
</div>
</body>