<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Страница добавления пользователь сервиса </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <h1>добавления пользователь-сервис</h1>
    <form action="/usersservices" method="post">
        <input type="text" name="id_users" placeholder="Введите номер пользователя">
        <input type="text" name="id_services" placeholder="Введите номер сервиса">
        <input type="text" name="work_employee" placeholder="Введите работу">
        <button type="submit">добавления</button> <br>
        <a class="p-2 text-dark" href="/">на главную</a>
    </form>
</div>
</body>